@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Poppins:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: url("./board.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.top {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  border-radius: 20px;
  backdrop-filter: blur(3px);
}

.logo {
  position: relative;
  left: 2%;
}

.nav-bar {
  position: relative;
  right: 10%;
  display: flex;
  align-items: center;
}

ul {
  display: flex;
  flex-wrap: nowrap;
}

li {
  list-style: none;
  margin-right: 20px;
}

li a {
  text-decoration: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: white;
}

.nav-bar a {
  position: relative;
  text-decoration: none;
  color: white;
}

.nav-bar a::after {
  content: "";
  width: 100%;
  height: 3px;
  bottom: -1px;
  background: white;
  position: absolute;
  left: 0;
  transform: scaleX(0);
  transition: 0.3s;
}

.nav-bar a:hover::after {
  transform: scaleX(1);
}

.login-btn {
  background: none;
  font-size: 1.3rem;
  padding: 5px 20px;
  text-align: center;
  border: 2px solid black;
  border-radius: 8px;
  cursor: pointer;
  transition: 1s;
}

.login-btn:hover {
  background: white;
  color: black;
}

.wrapper {
  width: 80%;
  max-width: 600px;
  height: auto;
  position: absolute;
  background: url("paper.jpg");
  left: 50%;
  top: 19%;
  transform: translateX(-50%);
  text-align: center;
}

.wrapper h2 {
  margin-top: 20%;
}

.sheet {
  margin: 20px auto;
  text-align: center;
}

.sheet #input {
  height: 40px;
  width: 80%;
  max-width: 400px;
  margin-top: 40px;
  border: none;
  background: none;
  border-bottom: 2px solid black;
  border-radius: 5px;
}

#input::placeholder {
  font-size: 1.1rem;
  color: black;
}

#input:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid white;
}

#nail1 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 3%;
  top: 0;
}

#nail2 {
  position: absolute;
  width: 40px;
  height: 40px;
  right: 3%;
  top: 0;
}

#nail3 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 3%;
  bottom: 3%;
}

#nail4 {
  position: absolute;
  width: 40px;
  height: 40px;
  right: 3%;
  bottom: 3%;
}

label {
  margin-top: 30px;
}

.invisible {
  display: none;
  transition: 2s;
}

.heading {
  margin-top: 30px;
}

.swap {
  cursor: pointer;
}

/* Media Queries */

@media only screen and (max-width: 600px) {
  .top {
    width: 100%; /* Adjusted width for smaller screens */
  }
  nav {
    margin: auto;
  }
  .nav-bar {
    right: 0%;
  }
  .logo {
    display: none;
  }

  li a {
    font-size: 1rem;
  }

  .login-btn {
    font-size: 1rem;
    padding: 4px 8px;
  }

  .wrapper {
    width: 90%;
    top: 15%;
  }

  .wrapper h2 {
    margin-top: 15%;
  }

  .sheet #input {
    width: 90%;
    max-width: 320px;
  }
}
